@using eVillaBooking.Domain.Entity;	

@model List<Villas>


	<div class="row">
		<div class="w-100 card">

			<div class="card-header bg-success bg-gradient text-center m-3">
				<h2>Villa List</h2>
			</div>


			<div class="card-body">
				<div class="text-end m-2">
					<a asp-action="create" asp-controller="villa" class="btn btn-danger">
					<i class="bi bi-plus-circle-fill"></i> Add New Villa
				</a>
				</div>

				<table class="table table-hover table-striped table-bordered">
					<thead>
						<tr>
							<th>Name</th>
							<th>Description</th>
							<th>Price</th>
							<th>Square Feet</th>
							<th>Occupancy</th>
                          </tr>

                   </thead>
				   <tbody>
					   @foreach(var villa in Model)
					{<tr>
						<td>@villa.Name</td>
						<td>@villa.Description</td>
						<td>@villa.Price</td>
						<td>@villa.Sqft</td>
						<td>@villa.Occupancy</td>
					</tr>
						

					}

				   </tbody>



























					</table>
				</div>
			
		</div>

</div>
