@model List<Amenity>

<div class="row">
	<div class="w-100 card">
		<div class="card-header bg-success bg-gradient text-center m-3">
			<h2>Villa Amenity</h2>
		</div>

		<div class="card-body">
			<div class="text-end m-2">
				<a asp-action="create" asp-controller="Amenity" class="btn btn-danger">
					<i class="bi bi-plus-circle-fill"></i>Add Villa Amenity
				</a>
			</div>

			<table class="table table-hover table-striped table-bordered">

				<thead>
					<tr>

						<th>Name</th>
						<th>Description</th>
						<th>Villa Name</th>
						<th>Action</th>

					</tr>

				</thead>
				<tbody>
					@foreach (var amenity in Model)
					{
						<tr>
							<td>@amenity.Name</td>
							<td>@amenity.Description</td>
							<td>@amenity.Villas.Name</td>
							<td>
								<a class="btn btn-primary" asp-action="Edit" asp-controller="Amenity" asp-route-id="@amenity.Id">Edit</a>
								<a class="btn btn-danger" asp-action="Delete" asp-controller="Amenity" asp-route-id="@amenity.Id">Delete</a>
							</td>



						</tr>
					}
				</tbody>

			</table>






		</div>

	</div>
</div>